@import "../generated/leptonic/leptonic-themes";

:root {
    --theme-blue: #0000ff;
    --theme-dark-orange: #fc9502;
    --theme-light-orange: #fd8205;
    --theme-yellow: #fce202;
}

[data-theme="light"] {
    --tertiary-background: #fff;
    --tertiary-text: #333;
    --secondary-background: #ddd;
    --secondary-text: #000;
    --secondary-link: var(--theme-blue);
    --highlight-subtle: rgba(0,0,0,0.1);

    --chat-user-background:#adc4f6; 
    --chat-bot-background:#fff;
}

[data-theme="dark"] {
    --tertiary-background: #111;
    --tertiary-text: #eee;
    --secondary-background: #333;
    --secondary-text: #fff;
    --secondary-link: var(--theme-dark-orange);
    --highlight-subtle: rgba(175,175,175,0.1);

    --chat-user-background: #175def;
    --chat-bot-background: #3b3b3b;
}


